<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/claudiaelena/opti-playground/apium/HSOverview/src/test/java">
        <parameter name="platformName" value="Android"/>
        <parameter name="platformVersion" value="14.0"/>
        <parameter name="deviceName" value="Any device name"/>
        <classes>
            <class name="com.qa.tests.LoginTests"/>
        </classes>
    </test>
</suite>